<html>

<head>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="/scripts/jquery.min.js"></script>
</head>

<body>
    <div>
        <input type="text" id="txtName" />
        <input type="text" id="txtAuthor" />
        <input type="text" id="txtGenre" />
    </div>

    <div>
        <button type="submit" id="btnSubmit">Submit</button>
    </div>
</body>
<script src="/scripts/bookScript.js"></script>

</html>